*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Rouge Script', cursive;*/
}

.logo img{
    width: 180px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}
a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}
.container{
    max-width: 1350px;
    max-height: 135px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
   
}
.col-2{
    flex-basis: 50%;
    max-height: 700px;
}
.col-2 .content{
    margin: 0 0 0 70px;
}
.col-2 img{
    max-width: 100%;
   
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background:#ff523b ;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.categories{
    margin: 50px 0;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0px rgba(0,0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.col-3:hover{
    transform: translateY(-10px);
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
   
}
.col-4{
    flex-basis: 20%;
    margin: 3px;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0px rgba(0,0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    padding: 15px;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa,.far,.fas{
    color: #ff523b ;
}
.col-4:hover{
    transform: translateY(-5px);
}
.span{
    font-size: 34px;
}


/*----offer-----------*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 0px;
    padding: 30px 0;
}
.offer-col-2{
    flex-basis: 50%;
    max-height: 400px;
}
.offer-col-2 .banner-img{
    max-width: 415px;
    padding: 10px 0 0 0 ;
    margin: 0 0 10px 0px;
}
small{
    color: #555;
}
/* testimonial*/

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
transform: translateY(-10px);
}
.fa .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
} 
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*       brands    */

.brands{
    margin: 100px auto;
}
.col-5{
   width: 160px; 
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}

/*   footer   */

.footer{
    background: #FFDCD7;
    color: #000;
    font-size: 14px;
    padding: 0 0 20px;
    min-height: 250px;
}
.footer p{
    color: #000; 
}
.footer h3{
 color: #000;
 margin-bottom: 20px ;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 5px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 160px;
    height: 120px;
    margin-bottom: 0px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;    
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 30px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.Copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*------------products.html(all products)-------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline:none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}
/* single product details */
.single-product{
    margin: 0 auto;
    
}
.col-2 .product-heading{
    font-size: 35px;
}
.single-product h4{
    margin: 20px 0 ;
    font-size: 22px;
    font-weight: bold;
}

.single-product .col-2 .main-img{
    margin: 0 0 0 150px ;
    padding: 58px; 
    width: 500px;
    height: 450px;
}
.single-product .col-2 {
    padding: 20px;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top:20px ;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid #ff523b ;
}
.single-product input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;

}
.small-img-row{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    padding: 10px;
    flex-basis: 24%;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0, 0, 0.1)
    ;
    transition: transform 0.5s;
}
.small-img-col:hover{
    transform: translateY(-10px);
}

/* Media Query for product details page */

@media only screen and(max-width:600px) {
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .main-img{
        margin-right: 50px; 
        width: 250px;
        height: 250px;
    }
    .single-product .row{
        text-align: left;

    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px ;
        line-height: 32px;
    }
}

/*---------------media query for menu-------------*/

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 125px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right:50px ;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*----------------media query for less than 600 screen sixe*/

@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4.offer-col-2{
        flex-basis:100%;
    }
    .offer{
        min-height: 1100px;
    }
    .offer-col-2{
        max-height: 500px;
    }
    .footer{
        min-height: 800px;
    }
    .cart-info p {
        display: none;
    }

}

/* cart items */
.cart-page{
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;

}
.cart-info img{
    width: 80px;
    height: 80px;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;

}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
.total-price{
   display: flex;
   justify-content: flex-end; 
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 420px;
}
td:last-child{
    text-align: right;
}
td:last-child{
    text-align: right;
}
/* account page */


.acc-col-2{
    flex-basis: 50%;
}
.account-page{
    
    background: radial-gradient(#fff,#ffd6d6);

}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn {
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position:absolute;
    top: 130px; 
    transition: transform 1s;

}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
     cursor: pointer;
     margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;

}
#RegForm{
    left: 0;
}
form a {
    font-size: 12px;
}
#Indicator{
   width: 100px; 
   border: none;
   background: #ff523b;
   height: 3px;
   margin-top:8px;
   transform: translateX(100px);
   transition: transform 1s;
}
/* contact page */

.contact-container{
    font-size: 14px;
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #fff;
    display: flex;   
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #ff523b;
    color: #fff;
}
h1{
    margin-bottom: 10px;
}
.contact-container p{
    margin-bottom: 40px;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;

}
.input-group input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc ;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #ff523b;
}
.contact-left h3{
    color: #ff523b;
    font-weight: 600;
    margin-bottom:30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom:30px;
}
tr td{
    padding-top:20px;
    font-size: 16px;
}
tr td:first-child{
    padding-right: 20px;
}

.contact-right td:last-child{
    text-align: left;
}

/* media query for contact page */
@media only screen and (max-width:400px){
    .contact-box{
        display: block;   
    }
}


/* about page */

.about-container{
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
}
.heading{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block ;
    margin: 0 auto;
    background-color: #ff523b;
}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.about-container{
    width: 90%;
    margin: 0 auto 55px;
    padding: 10px 20px;
}
.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-img{
    flex:1;
    margin-right: 40px;
    overflow: hidden;

}
.about-img img{
    max-width: 100%;
    height: 400px;
    display: block;
    transition: 0.5s ease;
}
.about-img:hover img{
transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;

}
.about-content p{
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff523b;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover{
    background-color: #666;
}

/*  about page */
@media only screen and (max-width:400px){
    .about-section{
        display: block;
    }
    .about-img img{
        max-width: 100%;
        height: 200px;
        transition: 0.5s ease;
    }
}






